@media only screen and (max-width: 425px) {
  .footer-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px;
  }
  .footer-items>div {
    width: 300px;
    height: 70px;
  }
  .display-3, .display-2 {
    font-size: 50px;
    margin: 8px;
    /*width: 300px;*/
    /*height: 200px;*/
    flex-wrap: wrap;
  }
  .projname {
    margin: 2rem 1rem;
  }
  #jumbotron {
    margin: 1rem;
  }
  .main {
    margin: 2rem;
    max-width: 100%;
  }
  .home-buttons {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-family: 'worksans-semibold', sans-serif;
    font-size: 15px;
    text-align: center;
  }
  
  #cm-maintext{
    font-size: 50px;
    text-align: justify;
  }
}

@media (max-width: 575px) {
  .circle-wrapper {
    flex-direction: column;
  }
  .footer-items {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .prof-pic {
    width: 100%;
    height: auto;
  }
  .circle-wrapper {
    justify-content: center;
  }
  .footer-items {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
    /*for desktops*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .projname {
      margin: 2rem 0;
      margin-left: 8rem;
    }
    .hero {
      margin: 10rem 0;
    }

    #jumbotron {
      margin: 2rem;
    }

    #cm-maintext{
      font-size: 60px;
    }
    .display-3 {
      padding-top: 4rem;
    }
    footer {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-bottom: 4rem;
    }
    .prof-pic {
      max-width: 35rem;
      height: auto;
      object-fit: cover;
      border-radius: 100%;
      width: 100%;
    }
    .button-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

}
@media (max-width: 1076px) {
  h1.display-2 {
    font-size: 3.5rem;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}
